.aizove-nav {
  .navbar-brand {
    img {
      height: 2.8rem;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .br-1 {
    border-right: 1px solid #efefef;
  }
  .nav-link {
    &:hover {
      color: $black !important;
    }
  }
  .contact {
    border-radius: 20px;
    padding: 8px 20px !important;
    font-size: $btnfont;
    color: $white !important;

    &:hover {
      color: $white !important;
      opacity: 0.9;
    }
  }
  .lang {
    width: 50px;
    text-align: center;
    border-left: 1px solid $gray;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 50px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
    background: $white;
  }

  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}
.footer {
  .brand-logo {
    img {
      height: auto;
      min-width: 70%;
      max-width: 80%;
    }
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      line-height: 2.5rem;
      font-weight: 600;
      color: #474747;
      &:hover {
        padding-left: 10px;
        color: $yellow;
      }
      a{
        &:hover {
          color: $yellow;
        }
      }
    }
  }
  .bottom-footer {
    margin-top: 10px;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    text-align: center;
  }
  input {
    padding: 0px 20px;
    line-height: 40px;
    border: 0px;
    border-radius: 0px;
  }
  button {
    line-height: 40px;
    width: 60px;
    border-radius: 0px !important;
  }
  .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    border: 1px solid $black;
    color: $black;
  }
}
.navbar-collapse.show {
  z-index: 999;
  top: 0;
}
.navbar-toggler {
  border: 0px;
}
.tall-box{
  height: 60px;
}
@media(max-width:768px){
  .p-0-xs{
    padding: 0px !important;
  }
}