.contenedor {
  height: 100%;
}
.container-foto {
  overflow: hidden;
  height: 400px;
}

.container-foto article {
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container-foto h2 {
  color: #fff;
  border-bottom: #fff solid 1px;
}

.container-foto h4 {
  color: #fff;
}

.container-foto img {
  height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}
// Start top banner
.ver-mas {
  position: absolute;
  width: 100%;
  height: 6rem;
  bottom: 0;
  z-index: 1;
  opacity: 0.8;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  p {
    opacity: 0;
  }
}

.ver-mas span {
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 13px;
}

/*hovers*/

.container-foto:hover {
  cursor: pointer;
}

.container-foto:hover img {
  opacity: 0.4;
  //   height: 110%;
  transform: translate(-30px, 0px);
  -webkit-transform: translate(-30px, 0px);
  -moz-transform: translate(-30px, 0px);
  -o-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
}

.container-foto:hover article {
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
}

.container-foto {
  &:hover {
    .ver-mas {
      height: 270px;
      transform: translate(0px, 0px);
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
    }
    p {
      opacity: 1;
    }
  }
}
// banner slider
.highlight-slide {
  .react-multi-carousel-item {
    max-width: 330px;
  }
  .cover-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
// stop top banner

.box-full {
  @include box-full;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
  .contents {
    position: relative;
    z-index: 999;
    left: 0px;
    bottom: 0px;
  }
}
@media (min-width: 768px) {
  .box-full {
    @include box-full;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: relative;
    }
    .contents {
      position: absolute;
      z-index: 999;
      left: 20px;
      bottom: 20px;
    }
    .hover {
      background: rgba(0, 0, 0, 0.2);
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
.box-half {
  @include box-half;
  img {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .contents {
    z-index: 999;
    left: 0px;
    bottom: 20px;
    &>div{
      left: 20px;
    }
  }
  .image-container {
    position: relative;
  }
  .hover {
    background: rgba(0, 0, 0, 0.4);
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .industry {
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 50px;
    font-size: 19px;
    border-radius: 13px;
  }
}
// news
.underline-head {
  &:after {
    margin-top: 9px;
    width: 30px;
    content: '';
    height: 3px;
    background: #0ebeff;
    display: block;
  }
}
.slider-images {
  height: 250px !important;
}
@media (min-width: 1200px) {
  .contents {
    z-index: 999;
    left: 30px;
    bottom: 30px;
  }
}
@media (max-width: 768px) {
  .pl-0-xs {
    padding-left: 0px !important;
  }
  .py-5{
    padding-top: 17px !important;
    padding-bottom: 17px !important;
  }
  .position-absolute-xs{
    position: absolute !important;
  }
}
@media (min-width: 768px) {
  .ml-3-md {
    margin-left: 15px;
  }
}
.min-height {
  min-height: 500px;
}
.react-multiple-carousel__arrow{
background: rgba(0,0,0,0.1) !important  ;
}