@mixin button-style-1 {
  margin: 0;
  padding: 10px 30px !important;
  list-style: none;
  border: 0px;
}
@mixin box-full {
  height: 600px;
  position: relative;
  overflow: hidden;
  @media(max-width:768px){
    height: auto;
  }
  .hover {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
  }
}
@mixin box-half {
  .image-container{
    height: 300px;
    overflow: hidden;
  }
}