body {
  font-family: GilroyRegular, sans-serif !important;
}
p,
label {
  font-family: GilroyRegular, sans-serif !important;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.bordered {
  border: 1px solid $gray;
}
.logo-avg {
  height: 3rem;
}

.aizove-form {
  label {
    width: 100%;
    display: block;
  }
  input {
    width: 100%;
    display: block;
    padding: 10px 15px;
    border: 1px solid $gray;
    background: $white;
  }
  /* Change the white to any color ;) */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  .button-lineheight {
    line-height: 2rem;
  }
  .danger{
    margin-top: 12px !important;
    display: block;
  }
}
@media(min-width:768px){
.p-5-md {
  padding: 3rem;
}
}
@media (min-width: 1360px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1400px;
  }
}