$white: #ffffff;
$bg-dk-blue: #0c214e;
$red: #ff3c41;
$yellow: #fcd000;
$purple: #ae63e4;
$green: #47cf73;
$blue: #0ebeff;
$skyblue: #f5fdff;
$black: #000;
$gray: #ebeef1;
$purple-2: #a53d8a;
$btnfont: '.8rem';
$fg-dk-gray:"#474747";
@font-face {
  font-family: GilroyLight;
  src: url('../fonts/Gilroy-Light.ttf');
}
@font-face {
  font-family: GilroyBlack;
  src: url('../fonts/Gilroy-ExtraBold.ttf');
}
@font-face {
  font-family: GilroyRegular;
  src: url('../fonts/Gilroy-Regular.ttf');
}
@font-face {
  font-family: GilroyBold;
  src: url('../fonts/Gilroy-Bold.ttf');
}
@font-face {
  font-family: GilroyMedium;
  src: url('../fonts/Gilroy-Medium.ttf');
}
.bg-dk-blue {
  background: $bg-dk-blue !important;
}
.font-black {
  font-family: 'GilroyBlack', sans-serif;
}
.font-normal {
  font-family: 'GilroyRegular', sans-serif;
}
.font-light {
  font-family: 'GilroyLight', sans-serif;
}
.font-bold {
  font-weight: normal !important;
  font-family: 'GilroyBold', sans-serif;
}
.font-medium {
  font-weight: normal !important;
  font-family: 'GilroyBold', sans-serif;
}
.font-big {
  font-size: 1.5rem;
}
.font-title {
  font-size: 1.5rem;
}
.font-avg {
  font-size: 1.1rem;
}
.font-avg-min {
  font-size: 1rem;
}
.font-small {
  font-size: 0.8rem;
}
.font-df {
  font-size: 1rem;
}
.button-st-1 {
  @include button-style-1;
}
@media (min-width: 1260px) {
  .font-big {
    font-size: 2rem;
  }
  .font-title {
    font-size: 1.5rem;
  }
  .font-avg {
    font-size: 1.2rem;
  }
  .font-avg-min {
    font-size: 1.1rem;
  }
  .font-small {
    font-size: 0.8rem;
  }
  .font-df {
    font-size: 1rem;
  }
}
@media (min-width: 1600px) {
  .font-big {
    font-size: 2.8rem;
  }
  .font-title {
    font-size: 1.5rem;
  }
  .font-avg {
    font-size: 1.2rem;
  }
  .font-small {
    font-size: 0.8rem;
  }
  .font-df {
    font-size: 1rem;
  }
  .pl-5-lg {
    padding-left: 3rem !important;
  }
  .pr-5-lg {
    padding-right: 3rem !important;
  }
}
.sky-blue {
  background: $skyblue;
}
.fg-white {
  color: $white !important;
}
.border-light {
  border: 1px solid #d3d3d3;
}
.h-80 {
  height: 80%;
}
.fg-blue {
  color: $blue;
}
.bg-blue {
  background: $blue;
}
.fg-dark {
  color: #4d4d4d;
}
.bg-dk-gray {
  background: #eeeff4;
}
.bg-black {
  background: #000;
}
.fg-black {
  color: #000;
}
.bg-dk-gradient {
  background: rgb(5, 11, 0);
  background: linear-gradient(
    90deg,
    rgba(5, 11, 0, 1) 0%,
    rgba(1, 8, 23, 1) 100%
  );
}
.bg-yellow-light {
  background: rgba(250, 155, 39, 0.2);
}
.bg-yellow {
  background: $yellow;
}
.fg-yellow {
  color: $yellow;
}
.bg-purple-light {
  background: rgba(166, 61, 138, 0.2);
}
.bg-gray {
  background: $gray;
}
.fg-green {
  color: $green;
}
.bg-green {
  background: $green;
}

.fg-purple {
  color: $purple;
}

.bg-purple {
  background: $purple;
}
.bg-burple-2 {
  background: $purple-2;
}
.fg-burple-2 {
  color: $purple-2;
}
.no-bg {
  background: transparent !important;
}
.bg-red {
  background: $red;
}
.fg-red {
  color: $red;
}
.fg-dk-gray{
  color: $fg-dk-gray;
}
@media (max-width: 993px) {
  .bg-white-xs {
    background: #fff;
  }
}
.l-15{
  line-height: 1.5;
  letter-spacing: 1.2px;
}